<div class="card"> 
    <div class="card-body">

        <h1>About</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quae, nisi doloribus voluptas eveniet fugiat suscipit. Commodi explicabo officiis fugit fugiat quaerat quos totam tenetur nulla. Totam enim accusamus quidem!</p>



    </div>
</div>