<div class="jumbotron mt-4">

<h1 class="display-4">Node and MongoDB App</h1>   
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
<hr class= "my-4">
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat accusantium sapiente dolore, vel fugiat ratione. Voluptates doloremque quas dolore ducimus, sunt dolorem. Nulla temporibus quidem earum. Perferendis voluptate in natus.</p>
<hr class= "my-4"> 
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam fugiat officia inventore repudiandae fuga blanditiis?</p>
<a href="http://www.soloboxeo.com" target="_blank"class="btn btn-primary btn-lg">El Mejor Boxeo</a>

</div>
 

 