body {
    background: rgba(36, 36, 102, 1);
    background: -moz-linear-gradient(left, rgba(36, 36, 102, 1) 27%, rgba(36, 36, 102, 1) 36%, rgba(32, 36, 89, 1) 51%, rgba(17, 37, 46, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(36, 36, 102, 1) 27%, rgba(36, 36, 102, 1) 36%, rgba(32, 36, 89, 1) 51%, rgba(17, 37, 46, 1) 100%);
    background: -o-linear-gradient(left, rgba(36, 36, 102, 1) 27%, rgba(36, 36, 102, 1) 36%, rgba(32, 36, 89, 1) 51%, rgba(17, 37, 46, 1) 100%);
    background: -ms-linear-gradient(left, rgba(36, 36, 102, 1) 27%, rgba(36, 36, 102, 1) 36%, rgba(32, 36, 89, 1) 51%, rgba(17, 37, 46, 1) 100%);
    background: linear-gradient(to right, rgba(36, 36, 102, 1) 27%, rgba(36, 36, 102, 1) 36%, rgba(32, 36, 89, 1) 51%, rgba(17, 37, 46, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#242466', endColorstr='#11252e', GradientType=1);
}