<div class="row">
   <div class="col-md-4 mx-auto">
       <div class="card mt-4 text-center">
           <div class="card-header">
               <h4>Ingrese A Su Cuenta</h4>


           </div>
           <img src="/Images/alpaca2.jpeg" class="rounded-circle mx-auto d-block m-4 logox" alt="logo" width="35%" height="35%">
            <p style="font-family: Brush Script MT, cambria,  arial;"> <strong> La Alpaca Lo Acompañara...</strong></p>
           <div class="card-body">
               <form action="/users/signin" method="POST">
                   <div class="form-group">
                       <input type="email" class="form-control" name="email" placeholder="E-mail" autofocus>
                   </div>
                   <div class="form-group">
                       <input type="password" name="password" class="form-control" placeholder="Contraseña">
                   </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Sign In
                        </button>
                    </div>



               </form>

           </div>



       </div>
   </div>
</div>
